[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
streamlit = "*"
pyyaml = "*"
seaborn = "*"
python-box = "*"
nba-mvp-predictor = {editable = true, path = "./nba_mvp_predictor"}
scikit-learn = "*"
lxml = "*"
shap = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
