name: explain
#TODO : merge with predict.yaml
on:
  schedule:
    - cron:  '0 10 * * *' # Everyday at 10UTC
  workflow_dispatch: # Allow for manual trigger from github.com
env:
  LOG_LEVEL: INFO
jobs:
  make-predictions:
    runs-on: ubuntu-latest
    steps:
      - name: Setup timezone to Europe/Paris
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Europe/Paris
      - name: Check out to repo
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Download model input from artifact
        uses: aochmann/actions-download-artifact@master
        with:
          name: model_input.csv
          latest: true
          path: ./data/
      - name: Download model from artifact
        uses: aochmann/actions-download-artifact@master
        with:
          name: model.joblib
          latest: true
          path: ./data/
      - name: Install dependencies from Pipfile
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pipenv
          pipenv install --deploy
      - name: Run the CLI command to explain predictions
        run: |
          pipenv run python . explain
      - name: Upload SHAP values dataset as artifact
        uses: actions/upload-artifact@v2
        with: 
          name: shap_values.csv
          path: ./data/shap_values.csv
          retention-days: 10